:root {
  --font-cursive: "Architects Daughter", cursive;
  --font-sans: "Inter", sans-serif;
  --font-color: #555;
  --font-color-darker: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  line-height: 1.66rem;
  font-family: var(--font-sans);
  font-size: 0.9rem;
  color: var(--font-color);

  display: grid;
  grid-template-columns: 1fr minmax(280px, 4fr);
  gap: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  min-height: 50vh;
  text-align: right;
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav::before {
  position: absolute;
  border-bottom: 50px solid #e3b261;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
.nav-links {
  width: 100%;
}

.nav-links_recipe {
  text-decoration: none;
  list-style-type: none;
}

main {
  padding: 32px 60px;
}

main article {
  margin: 36px 0;
}

.img-container {
  margin-top: 2.4rem;
  margin-bottom: 4.6rem;
  position: relative;
}

.img-container::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #88a55b;
  transform: rotateZ(-5deg);
  z-index: -2;
}

.img-container_img {
  width: 100%;
  object-fit: cover;
  height: 560px;
  /* border-radius: 1rem; */
}

.img-container::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #333;
  transform: rotateZ(-2deg);

  z-index: -1;
}

.heading {
  margin-bottom: 24px;
  width: 100%;
  font-family: var(--font-cursive);
  color: var(--font-color-darker);
}

.details {
  text-align: justify;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.instructions li {
  margin-bottom: 0.5rem;
}
